body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jumbotron {
  background-color: #FBBE09;
  color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Lato', sans-serif;
}

#gc_logo {
   margin-top: 10px;
   height: 160px;
   width: 200px;
}

#gc_body {
   display: flex;
   flex-direction: row;
}

#gc_body > p {
   padding-left: 15px;
   margin-top: 50px;
   font-size: 20px;
}

#twitter_login {
    padding-top: 100px;
    height: 500px;
    text-align: center;
}

.press_release {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#press_release {
    height: 600px;
    width: 450px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.sticky {
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    right: 0;
    /* background: linear-gradient(lightgray, aliceblue); */
    padding: 5px 10px 5px 10px;
}

.fb-like {
    vertical-align: top;
    box-sizing: border-box;
    height: 30px;
}

iframe {
    height: 30px;
    border: none;
}

/*
********* FONT STYLING ********
* LIGHTGREEN: B2B64A
* RED: FA3E
* GOLD: FBBD04
* ORANGE: FD8005
* LIGHT ORANGE: FBBE09
* BROWN: CE8F12
* YELLOW: F2E464
*/

#reg_body {
    display: flex;
    justify-content: center;
}

#input_form > p {
    font-size: 1.2em;
    padding: 0 20px 10px 20px;
    text-align: center;
}

#input_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 80px 0px 100px 0;
    width: 40%;
    color: 
}

.param {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.param > p {
    padding: 7px;
    align-items: center;
    font-size: 1.4em;

#back_office_form {
    text-align: center;
    vertical-align: middle;
    padding-top: 3em;
    width: 50%;
    margin: auto;
}

#back_office_form label {
    font-size: 30px;
}

#back_office_form input {
    vertical-align: text-bottom;
}

#b_office_caption {
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.btn-primary {
    font-size: 30px;
    background-image: linear-gradient(to bottom,#FBBE09 0,#FD8005 100%);
    background-color: #FBBD04;
    border-color: #FBBE09;  
}

.btn-success {
    font-size: 30px;
}

.btn-danger {
    font-size: 30px;
}

-/*
-********* FONT STYLING ********
-* LIGHTGREEN: B2B64A
-* RED: FA3E
-* GOLD: FBBD04
-* ORANGE: FD8005
-* LIGHT ORANGE: FBBE09
-* BROWN: CE8F12
-* YELLOW: F2E464
-*/

h1 {
 font-family: Myriad Pro;   
}