body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.sticky {
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    right: 0;
    /* background: linear-gradient(lightgray, aliceblue); */
    padding: 5px 10px 5px 10px;
}

.fb-like {
    vertical-align: top;
    box-sizing: border-box;
    height: 30px;
}

iframe {
    height: 30px;
    border: none;
}


h1 {
 font-family: Myriad Pro;   
}